@CHARSET "UTF-8";
@import "mysite.css";
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
#gallery			{ margin:20px auto;	width:540px; }

#gallery {
	display: block;
    content: "";
    clear: both;
}

#gallery h1			{ width: 320px;
					  height:40px; /*용기 같은느낌*/
					  background: url("/mysite03/assets/images/gallery.png") 0px 0px  no-repeat;
					  background-size: 40px 40px;
					  padding-left:50px;	
					  float: left;
					  font-family: 'Shizuru', cursive;			
					  
					}
#upload-image 		{	
						display: block;
						float: right;
						width:90px;
						height:20px;
						border:2px solid #999;
						font-size : 12px;
						text-align:center;
						padding: 9px 9px;
						text-decoration-line:none;
						color: #000;
						font-family: 'Shizuru', cursive;										
					}
					
					

#gallery ul			{ 	
						list-style-type: none;
						width:540px;
  				 		clear:both; 
					}



					
#gallery ul li 		{
					position:relative;
					width:110px;
					height:110px;
					 float:left; 
					 margin: 10px;
					 overflow-y:hidden;
					}
#gallery ul li:hover{
						border: 5px solid #999;
					}										 
					
					
#gallery ul li a.image {	
	 						position:relative;
	 						top:5%;
	 						left:5%;
	 						
							width:100px;
							height:100px;
							background-size: cover;
							background-repeat: no-repeat;
							background-position: center;
							display: block;
						}
#gallery ul li a.del-button {
	position:absolute;
	right:2px;
	top:3px;
	background: url("/mysite03/assets/images/close.png") 0px 0px  no-repeat;
	width:27px;
	height:27px;
	display:none;
	font-size:0px;
}

#gallery ul li:hover a.del-button {
	display:block;
}



/* 이미지 업로드 팝업 레이어 */ 
#dialog-upload-form 					{ text-align: left; }
#dialog-upload-form p					{ padding:20px 0 5px 0; font-weight: bold; font-size:1.1em }
#dialog-upload-form label, 
#dialog-upload-form input				{ display:block; }
#dialog-upload-form label				{ font-weight:bold; margin-top:10px; }
#dialog-upload-form input				{ outline:none; margin-top:5px; }
#dialog-upload-form input[type='text']	{ padding: 5px; border:2px solid #A9A9A9; width:260px; }

